<div class="row">
  <div class="col-md-6 col-md-offset-3 tweets">
      <h2>Search results for "<%= @search %>":</h2>
      <%= render partial: 'tweets' %>
      <% if @tweets.blank? %>
        <h4>Sorry, we couldn't find any tweets containing "<%= params[:search] %>".</h4>
      <% end %>
  </div>
</div>
