<h3>Own Tweets (<%= @tweets_count %>)</h3>
<% if @tweets_count > 0 %>
  <% @tweets.reverse_each do |tweet| %>
    <%= render partial: "tweetrow", locals: {tweet: tweet} %>
  <% end %>
<% else %>
  <div class="panel panel-default">
    <div class="panel-body">
      No own tweet
    </div>  
  </div>
<% end %>
<hr>