//@import "bootstrap/**/*"
@import "bootstrap-sprockets"
@import "bootstrap"

.home-tweet
  border: 1px solid #ddd
  border-radius: 4px
  padding: 5px
  height: 140px
  width: auto
  margin: auto
  display: block

.like
  display: flex
  align-items: center

.h6
  font-family: Avenir
  color: #2e689b
  margin-left: 5px

.hashtag
  font-size: 100%
  a
    color: white

.search-tm 
  color: grey
  margin: 20px 0 0 5px
  font-size: 80%
    
