//@import "bootstrap/**/*"
@import "bootstrap-sprockets"
@import "bootstrap"

.home-tweet
  border: 1px solid #ddd
  border-radius: 4px
  padding: 5px
  height: 140px
  width: auto
  margin: auto
  display: block



.hashtag
  font-size: 100%
  a
    color: white

  
    
