@import "bootstrap-sprockets";
@import "bootstrap";

.home-tweet {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: auto;
  width: 100%;
  margin: auto;
  display: block;
}

.like {
  display: flex;
  align-items: center;
}

.h6 {
  font-family: Avenir;
  color: #2e689b;
  margin-left: 5px;
}

.following-count {
  font-size: 140%;
}

body {
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName { 
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}